---
layout: default
title: Home
image: "assets/images/banners/01.jpg"
---

<!--  <img src="assets/images/Astrologia-social-porque.png" /> -->
<!--
<h2>Hola! Soy Lina de Astrología Social</h2>

<p>y desde hace varios años acompaño a mis consultantes a interpretar su código astrológico para la toma de decisiones, el autoconocimiento y la evolución personal, que propone la carta natal desde una perspectiva humanista.</p> -->

<div class="container main-content frontpage-content">
<h2>LECTURA ASTROLÓGICA</h2>
<p>Técnicas astrológicas para tu trabajo personal.</p>
</div>


<div class="grid-servicios grid-container grid-container-3">
  <div class="grid-item">
    <img src="assets/images/portada-icono-01.svg"/>
    <h2>CARTA NATAL</h2>
    <p>Con esta lectura podrás profundizar en tus aprendizajes y dones.</p>
    <a class="btn btn-astro" href="/carta-natal">Conoce mas</a>

  </div>
  <div class="grid-item">
    <img src="assets/images/portada-icono-02.svg"/>
    <h2>REVOLUCIÓN SOLAR</h2>
    <p>Con esta técnica sabrás como viene tu año desde el día de tu cumpleaños. </p>
    <a class="btn btn-astro" href="/revolucion-solar">Conoce mas</a>
  </div>
  <div class="grid-item">
    <img src="assets/images/portada-icono-03.svg"/>
    <h2>SINASTRÍA</h2>
    <p>Esta sobreposición de cartas te permitirá trabajar en tus relaciones.</p>
    <a class="btn btn-astro" href="/sinastria">Conoce mas</a>
  </div>
</div>

<hr />

<div class="container main-content frontpage-content">
<h2>¿POR QUÉ LA ASTROLOGÍA?</h2>
<p><i>“La Astrología es un lenguaje, si entiendes este lenguaje, el cielo te hablará.”</i><br/>Rudhyar</p>
</div>



<div class="grid-verbos grid-container grid-container-5">
  <div class="grid-item grid-item-verbos-01" >
    <img src="assets/images/portada-verbos-01.svg"/>
    <div class="grid-item-box">
      <h2>Observar</h2>
      <p>Cambiar el enfoque <b>hacia adentro.</b></p>
    </div>
  </div>
  <div class="grid-item grid-item-verbos-02">
    <img src="assets/images/portada-verbos-02.svg" />
    <div class="grid-item-box">
      <h2>Sentir</h2>
      <p>Abrazar todas las emociones, <b>están ahí para mostrar algo</b>.</p>
    </div>
  </div>
  <div class="grid-item grid-item-verbos-03">
    <img src="assets/images/portada-verbos-03.svg" />
    <div class="grid-item-box">
      <h2>Entender</h2>
      <p>Sé compasivx contigo mismo. <b>Menos perfección, más autenticidad</b>.</p>
    </div>
  </div>
  <div class="grid-item grid-item-verbos-04">
    <img src="assets/images/portada-verbos-04.svg" />
    <div class="grid-item-box">
      <h2>Actuar</h2>
      <p>Sigue tu intución <b>sin limitarte por la validación externa</b>.</p>
    </div>
  </div>
  <div class="grid-item grid-item-verbos-05">
    <img src="assets/images/portada-verbos-05.svg" />
    <div class="grid-item-box">
      <h2>Crecer</h2>
      <p>La metamorfosis es el <b>comienzo</b>.</p>
    </div>
  </div>
</div>

<hr />

<div class="container main-content frontpage-content">
<h2>ASTRO BLOG</h2>
<p>Te comparto información astrológica.</p>
</div>



<!-- <a target="_blank" href="#" class="btn btn-dark">Agéndate para conocer tu carta natal &rarr;</a> -->




<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
