---
layout: default
title: Home
---

<img src="assets/images/Astrologia-social-porque.png" />

<h2>Hola! Soy Lina de Astrología Social</h2>

<p>y desde hace varios años acompaño a mis consultantes a interpretar su código astrológico para la toma de decisiones, el autoconocimiento y la evolución personal, que propone la carta natal desde una perspectiva humanista.</p>

<a target="_blank" href="#" class="btn btn-dark">Agéndate para conocer tu carta natal &rarr;</a>




<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
