<div class="socialmedia">
    <!-- <p>
        Compartir
    </p> -->
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="{{ site.social-ig }}">
                <i class="fab fa-instagram"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="{{ site.social-fb }}">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="{{ site.social-ts }}">
                <i class="fab fa-threads"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="{{ site.social-wa }}">
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>

    </ul>
</div>
